body {
  height:auto;
  background: linear-gradient(to bottom, #ff553f,#fbae1e,#fddd73);
}


.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #dcdcdc;
  margin-top: 5%;
  max-width: 70vb;
  padding: 40px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #dcdcdc;
  border-radius: 0;
  box-shadow: none;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  text-align: center;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ffcc80;
}

.form_btn {
  background-color: #ffea94 ;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form_btn:hover {
  background-color: #ffa71b;
}

.link {
  color: #3897f0;
}

.link:hover {
  color: #38a0f0;
  text-decoration: none;
}

.or-separator {
  border-bottom: 1px solid #dcdcdc;
  margin: 20px 0;
  position: relative;
}

.or-separator span {
  background-color: #fafafa;
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 600;
  left: 50%;
  margin-left: -20px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
}

.footer-link {
  color: #8e8e8e;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.footer-link a {
  color: #8e8e8e;
  text-decoration: none;
}