{% extends "base.html" %}

{% block title %}
Virtual Classroom Management System - New Topic
{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard_style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_items_style.css')}}">
</head>


<main class="container py-5">
  <center>
    <h2 class="m-4 text-gradient">New Topic</h2>
  </center>
  <form id="form" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" id="title" name="title" placeholder="Topic Title" required>
    </div>
    <div class="form-group">
      <textarea class="form-control" id="description" name="description" placeholder="Topic Description" required></textarea>
    </div>
    <center>
      <div>
        <button type="submit" class="btn btn-primary m-3">Create</button>
      </div>
    </center>
 
  </form>
</main>
{% endblock %}